<app-toolbar pageName="{{user.full_name}} - {{ isVolunteer? 'Volunteer profile' : 'Member profile' }}" color="primary">
</app-toolbar>

<div>

  <!-- <h1 class="text-center">Your information</h1>

  <ul class="text-center">
    <li *ngFor="let item of objectKeys(user)" style="list-style: none;">
        Your {{ item }} - <b>{{ user[item].length == 0 || user[item] == null ? 'None' : user[item]}}</b>
    </li>
  </ul> -->

  <h1 class="text-center">List of interests ({{user.interests.length}})</h1>

  <div *ngIf="user.interests === undefined || user.interests.length == 0" class="text-center">
    <h3 class="text-center">Oops, no interests yet</h3>
  </div>

  <div class="text-center">
    <button mat-raised-button class="text-center" color="primary"
      (click)="isAddingInterest = !isAddingInterest">{{ isAddingInterest ? 'Cancel' : 'Add Interest' }}</button>
  </div>

  <div class="text-center" *ngIf="isAddingInterest">
    <mat-form-field class="example-full-width">

      <mat-label>Interest title</mat-label>
      <mat-select style="color: #333;" [(ngModel)]="interestName">
        <mat-option *ngFor="let interest of interestList" [value]="interest.skill_name">
          {{interest.skill_name}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="interestScale" matInput type="number" min="0" max="10" placeholder="Skill scale">
    </mat-form-field>
    <button mat-raised-button color="danger" (click)="addInterest();">Add</button>
  </div>

  <br>

  <table #interestTable mat-table [dataSource]="user.interests" style="margin: 0px auto;">

    <ng-container matColumnDef="skill_name">
      <th mat-header-cell *matHeaderCellDef>Skill name</th>
      <td mat-cell *matCellDef="let element"> {{element.skill_name}} </td>
    </ng-container>

    <ng-container matColumnDef="skill_level">
      <th mat-header-cell *matHeaderCellDef>Skill level</th>
      <td mat-cell *matCellDef="let element"> {{element.skill_level}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="interestColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: interestColumns;"></tr>
  </table>

  <hr>

  <h1 class="text-center">Events you are participating in ({{ attendingEventsList.length }})</h1>
  <table *ngIf="attendingEventsList.length != 0" #eventTable mat-table [dataSource]="attendingEventsList" style="margin: 0px auto;">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Event title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Event description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Event location</th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Event time</th>
      <td mat-cell *matCellDef="let element"> {{element.start}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn">Details</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn">Unregister</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
