<mat-toolbar color="primary">
  Name Lastname -

  {{ isVolunteer? 'Volunteer profile' : 'Member profile' }}
  <span class="spacer"></span>
</mat-toolbar>

<div>
  <h1 class="text-center">Events you are participating in ({{ data.length }})</h1>
  <table #eventTable mat-table [dataSource]="data" style="margin: 0px auto;">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Event title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Event location</th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Event time</th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="warn" (click)="unregister(element);">Unregister</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
