<mat-toolbar color="primary">
  Admin Page
</mat-toolbar>

<div class="text-center" style="width: 60%; margin: 0px auto; text-align: center;">
  <h2>Create an event</h2>

  <mat-form-field class="example-full-width">
    <input required class="inputField" matInput placeholder="Event title">
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input required class="inputField" matInput placeholder="Event location">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input required class="inputField" matInput placeholder="Event time">
  </mat-form-field>

  <button mat-raised-button color="primary">Add event</button>

</div>